@media (max-width: 768px) {
    .why-me-section {
        min-height: 100vh;
        overflow: visible;
        padding: 48px 24px;
    }

    .why-me-title {
        margin-bottom: 18px;
    }

    .why-me-content {
        width: 100%;
        align-items: center;
    }

    .why-me-text {
        font-size: 16px;
        line-height: 1.45;
        text-align: left;
    }

    .why-me-content h3 {
        font-size: 36px;
        margin: 0 32px 0 16px;
    }

   .why-me-facts {
        flex-direction: column;
        gap: 16px;
    }

    .fact-card {
        width: 100%;
    }

    .contact-button {
        align-self: center;
        margin-top: 32px;
    }

    .first {
        display: none;
    }

    .second {
        order: 1;
    }

    .third {
        order: 0;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .why-me-section {
        min-height: 100vh;
        padding: 6px 24px;
    }

    .why-me-content {
        width: 100%;
        margin: 0 auto;
        align-items: stretch;
    }

    .why-me-text {
        width: 100%;
    }

    .why-me-facts {
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
    }

    .fact-card {
        width: 30%;
    }

    .first {
        display: flex;
    }

    .contact-button {
        align-self: flex-end;
    }

    .why-me-next-link {
        display: none;
    }
}