.references-section {
    position: relative;
    width: 60vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 120px 560px 1fr;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 80px 20px 20px 172px;
}

.references-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 54px;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 2px var(--highlight-main);
    margin: 0 20px;
}

.reference-grid {
    width: 500px;
    min-height: 110px;
    gap: 18px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-item {
    height: 182px;
    border: 1px solid var(--highlight-light);
    border-radius: 22px;
    display: grid;
    grid-template-columns: 1fr 1px 220px;
    align-items: center;
}

.references-section hr {
    height: 113px;
    border: none;
    border-left: 1px solid var(--highlight-light);
    display: flex;
    align-self: anchor-center;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.project-item p:first-child {
    font-size: 24px;
    color: var(--highlight-main);
}

.project-item p {
    margin: 0;
}

.reference-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    padding: 0 10px;
}

.project-item h3,
.project-item p {
    margin: 0;
    color: var(--highlight-light);
}

.separator {
    width: 1px;
    height: 110px;
    background-color: var(--highlight-main);
}

.references-next-link {
    position: absolute;
    right: 0;
    top: 42%;
    transform: rotate(-180deg);
}

.references-next-link img {
    width: 110px;
    filter: hue-rotate(110deg);
}